<template>
  <div>
    <SideBar />

    <div style="margin-left:245px;">
      <div style="height:96px;margin:32px ;">
        <img src="./assets/employeemaster.png" />
      </div>

      <div style="margin-left:32px;">
        <div class="card" style="padding:24px ; width:1055px">
          <div class="header" style="display:flex;flex-direction:row;justify-content:space-between">
            <h1 style="font-weight: 500;font-size: 20px;margin-bottom:1rem;">Summary</h1>

            <b-dropdown aria-role="list">
              <button class="button" style="color:black" slot="trigger" slot-scope="{ active }">
                <span>Last 6 month</span>
                <b-icon :icon="active ? 'menu-up' : 'menu-down'"></b-icon>
              </button>

              <b-dropdown-item aria-role="listitem">Last 6 Month</b-dropdown-item>
              <b-dropdown-item aria-role="listitem">Last Year</b-dropdown-item>
              <b-dropdown-item aria-role="listitem">All</b-dropdown-item>
            </b-dropdown>
          </div>

          <div style="display:flex;flex-direction:row;">
            <div style="display:flex;flex-direction:row ;width:200px;marign-right:69px">
              <img src="./assets/totalEmp.svg" alt srcset />
              <div style="margin-left:8px;">
                <p style="font-size: 14px;color: #666666;">Total Employee</p>
                <p style="font-weight: 500;font-size: 20px; color:black">{{totalEmployee}}</p>
              </div>
            </div>
            <div style="display:flex;flex-direction:row; width:200px;marign-right:69px">
              <img src="./assets/depart.svg" alt srcset />
              <div style="margin-left:8px;">
                <p style="font-size: 14px;color: #666666;">Department</p>
                <p style="font-weight: 500;font-size: 20px; color:black">{{totalEmployee}}</p>
              </div>
            </div>
            <div style="display:flex;flex-direction:row">
              <img src="./assets/bu.svg" alt srcset />
              <div style="margin-left:8px;">
                <p style="font-size: 14px;color: #666666;">Business Unit</p>
                <p style="font-weight: 500;font-size: 20px; color:black">{{totalEmployee}}</p>
              </div>
            </div>
          </div>
        </div>

        <button
          style="margin-top:2rem; float:right;margin-right:3rem;margin-bottom:1.2rem;"
          class="button is-primary"
          @click="isComponentModalActive = true"
        >Add User</button>

        <b-modal
          :active.sync="isComponentModalActive"
          has-modal-card
          trap-focus
          :destroy-on-hide="false"
          aria-role="dialog"
          aria-modal
        >
          <AddEmployeePop @UpdateEmployeeList="asd($event)" />
        </b-modal>

        <EmployeeTable v-bind:datas="datas" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AddEmployeePop from "./components/AddEmployeePop";
import SideBar from "./components/SideBar";
import EmployeeTable from "./components/EmployeeTable";
export default {
  name: "App",
  components: {
    AddEmployeePop,

    SideBar,
    EmployeeTable
  },

  methods: {
    refresh() {
      console.log("Refresh");

      axios
        .get("http://localhost:8080/api/management/1/employee")
        .then(response => {
          console.log(response)
          var dat = response["data"]["data"];
          for (var obj of dat) {
            var emp = {};
            emp.first_name = obj.name;

            emp.email = obj.emailId;
            emp.id = obj.id;
            emp.bu = obj.buId;
            emp.contact = obj.phoneNum;
            emp.manager = obj.managerId;
            emp.department = obj.deptId;
            console.log(emp)
            this.datas.push(emp);
          }
        });
    },

    asd(emp) {
      console.log(emp);

      axios
        .post("http://localhost:8080/api/management/1/employee", emp)
        .then(response=> {
          this.datas.push(emp)
          console.log("YAHA")
          console.log(emp)
          console.log(response);
        });
    }
  },
  mounted() {
    this.refresh();
  },
  data() {
    return {
      datas: [
        
      ],

      isComponentModalActive: false,
      totalEmploye: 150,
      active: "true"
    };
  },
  computed: {
    totalEmployee() {
      return this.datas.length;
    }
  }
};
</script>

<style lang="scss">
@import "~@zeta-optima/component-library-user/styles/font.scss";
@import "~bulma/sass/utilities/initial-variables";
@import "~@zeta-optima/component-library-user/styles/default_theme.scss";

.menu-list {
  margin-left: 20px;
}

.sidebar-content {
  background-color: #2a295c !important;
  width: 246px !important;
  height: 783px !important;
}
.menu-list a {
  height: 40px !important;
  color: white !important;
}

#app4 {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
