<template>
    <div>
        <section>
            <b-radio v-model="radio" name="name" native-value="Flint">EFT </b-radio>
            <b-radio v-model="radio" name="name" native-value="Flint">C & CC</b-radio>
        </section>

        <b-field label="Transaction No">
            <b-input style="width:252px" v-model="name"></b-input>
        </b-field>
        <b-field label="Transfer Date">
            <b-input icon-right="calendar-month-outline" style="width:252px" v-model="name"></b-input>
        </b-field>
        <b-field label="Amount">
            <b-input style="width:252px" v-model="name"></b-input>
        </b-field>
        <b-field label="Comment" style="width:252px">
            <b-input maxlength="200" type="textarea"></b-input>
        </b-field>

        <p style="width:415px ;font-weight: 500; font-size: 14px;line-height: 20px;color: #666666;"> 
            NOTE: Fund transferred from your authorised bank account will be instantly approved, If not it will take 1-2 working days. View Authorised Bank Accounts
        </p>
        <br/>
        <p style="font-weight: 500;font-size: 14px;line-height: 20px;color: blue;">
            View Authorised Bank Accounts
        </p>
        <div style="display:flex; flex-direction: row; margin-top:24px">
            <b-button type="is-primary" style="margin-right:8px">Create Survey</b-button>
            <b-button style="margin-right:8px" type="is-primary" outlined>Cancel</b-button>
            <b-button icon-left="dots-horizontal" ></b-button>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>

</style>