<template>
  <form action>
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title" style="text-align:center">Add Employee</p>
      </header>
      <section class="modal-card-body">
        <div style="display:flex; flex-direction:row;">
          <b-field label="First Name" style="margin-right:20px;">
            <b-input type="text" v-model="first_name" placeholder="Name" required></b-input>
          </b-field>
          <b-field label="Designation" style="margin-right:20px;">
            <b-input type="text" v-model="designation" placeholder="Designation" required></b-input>
          </b-field>
        </div>

        <b-field label="Email">
          <b-input type="email" v-model="email" placeholder="Your email" required></b-input>
        </b-field>

        <b-field label="Password">
          <b-input
            type="password"
            v-model="password"
            password-reveal
            placeholder="Your password"
            required
          ></b-input>
        </b-field>
        <b-field label="Contact Number">
          <b-input type="text" v-model="contact" placeholder="Contact" required></b-input>
        </b-field>
        <b-field label="Manager ID">
          <b-input type="text" v-model="manager" placeholder="Manager" required></b-input>
        </b-field>
        <b-field label="Department ID">
          <b-input type="text" v-model="department" placeholder="Department ID" required></b-input>
        </b-field>
        <b-field label="Business Unit">
          <b-autocomplete
            required
            rounded
            v-model="bu"
            :data="filteredDataArray"
            placeholder="e.g. Zeta"
            icon="magnify"
            clearable
            @select="option => selected = option"
          >
            <template slot="empty">No results found</template>
          </b-autocomplete>
        </b-field>

        <b-checkbox>Remember me</b-checkbox>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="$parent.close()">Close</button>
        <button type="button" class="button is-primary" @click="dbUpdate">Add User</button>
      </footer>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      data: ["Zeta", "Nova", "Flock", "Radix"],
      name: "",
      selected: null,
      first_name: "",
      designation: "",
      email: "",
      contact: "",
      bu: "",
      password: "",
      manager: "",
      department: ""
    };
  },
  methods: {
    dbUpdate() {
      var emp = {};
      emp["companyId"]="1"
      emp["corpId"] ="1"
      emp["programId"] ="1"

      emp["name"]=this.first_name
      

      emp["emailId"] = this.email;
      emp["designation"] = this.designation;
      emp["buId"] = this.bu;
      emp["phoneNum"] = this.contact;

      emp["deptId"] = this.department;

      this.$emit("UpdateEmployeeList", emp);
    }
  },
  computed: {
    filteredDataArray() {
      return this.data.filter(option => {
        return (
          option
            .toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0
        );
      });
    }
  }
};
</script>