<template>
    <section>
      

        <b-table
            :data="datas"
            :paginated="isPaginated"
            :per-page="perPage"
            :current-page.sync="currentPage"
            :pagination-simple="isPaginationSimple"
            :pagination-position="paginationPosition"
            :default-sort-direction="defaultSortDirection"
            :sort-icon="sortIcon"
            :sort-icon-size="sortIconSize"
            default-sort="user.first_name"
            aria-next-label="Next page"
            aria-previous-label="Previous page"
            aria-page-label="Page"
            aria-current-label="Current page">

            <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40" sortable numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="user.first_name" label="First Name" sortable>
                    {{ props.row.first_name }}
                </b-table-column>

              

                <b-table-column label="Email">
                   
                       
                        {{ props.row.email }}
                  
                </b-table-column>
                 <b-table-column label="Contact">
                   
                       
                        {{ props.row.contact }}
                  
                </b-table-column>
                 <b-table-column label="BU" sortable>
                   
                       
                        {{ props.row.bu }}
                  
                </b-table-column>
                 <b-table-column field="department" label="Department ID" sortable centered>
                   
                        {{ props.row.department }}
                   
                </b-table-column>

                <b-table-column label="Manager" sortable>
                   
                       
                        {{ props.row.manager }}
                  
                </b-table-column>
            </template>
        </b-table>
    </section>
</template>

<script>
    

    export default {

        props:['datas'],
        data() {
            

            return {
               
                data:[
                { 'id': 1, 'first_name': 'Jesse', 'last_name': 'Simmons','manager':'Boss', 'email': 'first.last@corp.com', 'contact': '9999999999','bu':'Zeta','department': "FrontEnd" },
              
            ],
                isPaginated: true,
                isPaginationSimple: false,
                paginationPosition: 'bottom',
                defaultSortDirection: 'asc',
                sortIcon: 'arrow-up',
                sortIconSize: 'is-small',
                currentPage: 1,
                perPage: 5
            }
        }
    }
</script>