<template>
  <div class="popup">
    <form action>
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head" style="background: #FEF7E5">
          <p class="modal-card-title" style="color: #000000;">Add Funds To Acme Funding Account</p>
          <div class="box" style="background: #FEF7E5"></div>
        </header>
        <section class="modal-card-body">
          <!--    <b-table :data="data" :columns="columns"></b-table>-->

          <div class="columns">
            <div class="column">A/C Name</div>
            <div class="column">2342</div>
          </div>
          <div class="columns">
            <div class="column">A/C No</div>
            <div class="column">Monday, 01 an 2020</div>
          </div>
          <div class="columns">
            <div class="column">Branch Name</div>
            <div class="column">$100</div>
          </div>
          <div class="columns">
            <div class="column">Branch</div>
            <div class="column">$2000</div>
          </div>
          <div class="columns">
            <div class="column">IFSC Code</div>
            <div class="column">$3000</div>
          </div>

          <div
            class="box1"
            style="margin:0px"
          >Let us know the let us know the details of your cheque/transfer by raising a fund addition request</div>
        </section>
        <footer class="modal-card-foot">
          <b-button type="is-primary" class="b1">Primary</b-button>
          <button class="button1" @click="$parent.close()" type="button">Close</button>
        </footer>
      </div>
    </form>
  </div>
</template>>
<script>
//import { Layout1 } 'from @zeta-optima/component-library-user';
export default {
  name: "popup"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.button1 {
  /* .button/36px/noIcon */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  padding: 9px 12px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* white100 */

  background: #ffffff;
  mix-blend-mode: normal;
  /* Sodexo/Primary100 */

  border: 1px solid #4c44d7;
  box-sizing: border-box;
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;
}
.b1 {
  display: flex;
  flex-direction: row;
  padding: 9px 12px;

  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* purple100 */

  background: #4c44d7;
  mix-blend-mode: normal;
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: flex-start;
  margin: 0px 0px;
}
.box {
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  box-shadow: none;
  position: absolute;
  width: 60px;
  height: 56px;
  right: 0px;
  top: 0px;
}

.box1 {
  position: static;

  left: 0%;
  right: 0%;
  top: 83.33%;
  bottom: 0%;

  /* regular/12 */

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  /* black60 */

  color: #666666;

  /* Inside Auto Layout */

  flex: none;
  order: 5;
  margin: 0px 16px;
}
</style>