<template>
  <b-sidebar open>
    <img style=" margin-top:30px; margin-left:15.5px" src="./../assets/sodexo.png" />

    
      <p style="color:white; margin-left:23.5px;margin-top:8px;">PRODUCTS</p>
      <ul class="menu">
        <a >
        <li style="margin-top: 8px;">
          
            <span class="icon is-small">
              <i class="mdi mdi- mdi-clipboard-text"></i>
            </span>
            <span>Benefits</span>
          
          <!---->
        </li>
        </a>
            <a >
        <li>
      
            <span class="icon is-small">
              <i class="mdi mdi- mdi-star"></i>
            </span>
            <span>Recognition</span>
          
          <!---->
        </li>
        </a>
        <a >
        <li>
          
            <span class="icon is-small">
              <i class="mdi mdi- mdi-chart-line-variant"></i>
            </span>
            <span>Engagement Hub</span>
        
          <!---->
        </li>
          </a>
          <a >
        <li>
          
            <span class="icon is-small">
              <i class="mdi mdi- mdi-chart-bar"></i>
            </span>
            <span>Insights</span>
   
          <!---->
        </li>
          </a>
          <a >
        <li>
          
            <span class="icon is-small">
              <i class="mdi mdi- mdi-account-multiple"></i>
            </span>
            <span>People</span>
          
          <!---->
        </li>
          </a>
          <a>
        <li>
          
            <span class="icon is-small">
              <i class="mdi mdi- mdi-tag"></i>
            </span>
            <span>Voucher Shop</span>
          
          <!---->
        </li>
          </a>
          <a href="">
        <li>
          
            <span class="icon is-small">
              <i class="mdi mdi- mdi-note"></i>
            </span>
            <span>Report Center</span>
         
          <!---->
        </li>
          </a>
          <a href="">
        <li>
          
            <span class="icon is-small">
              <i class="mdi mdi- mdi-playlist-check"></i>
            </span>
            <span>Audit logs</span>
         
          <!---->
        </li>
        </a>
        <a href="">
        <li>
         
            <span class="icon is-small">
              <i class="mdi mdi-mdi-square"></i>
            </span>
            <span>Settings</span>
          
          <!---->
        </li>
        </a>
      </ul>

  </b-sidebar>
</template>

<script>
export default {};
</script>

<style lang="css" scoped >


li{
  line-height: 2.5rem;
  height:2.5rem;
}
span{
  margin-left: 1rem;
  color:white;
}
li:hover{
  background-color: rgba(2, 2, 2, 0.1);
}

</style>

