<template>
  <div class="bb">
    <div style="background-color:#9e9e9e57; position:absolute;top:5px;height:2.4rem;width:100%;"></div>
    <b-table
      :data="isEmpty ? [] : data"
      :bordered="isBordered"
      :striped="isStriped"
      :narrowed="isNarrowed"
      :hoverable="isHoverable"
      :loading="isLoading"
      :focusable="isFocusable"
      :mobile-cards="hasMobileCards"
    >
      <template slot-scope="props" >
        <b-table-column field="id" label="Reference Date" width="150" >{{ props.row.id }}</b-table-column>

        <b-table-column field="first_name" label="Reference ">{{ props.row.first_name }}</b-table-column>

        <b-table-column field="last_name" label="Mode">{{ props.row.last_name }}</b-table-column>

        <b-table-column field="date" label="Status" centered>
          <span class="tag"><img src="./../assets/approve.svg"></span>
        </b-table-column>

        <b-table-column label="">
          <span>
            <b-button icon-left="dots-horizontal" ></b-button>
            
          </span>
        </b-table-column>
        
      </template>


    </b-table>
    <div style="text-align:right; margin-top:2rem">
      <b-button style="margin:3px">1</b-button>
      <b-button style="margin:3px">2</b-button>
      <b-button style="margin:3px">3</b-button>
      <b-button  style="margin:3px">4</b-button>
      
      <b-button style="margin:3px" icon-left="less-than" ></b-button>
      <b-button style="margin:3px" icon-left="greater-than" ></b-button>
    </div>
    
  </div>
</template>

<script>
export default {
  name: "transactionTable",
  data() {
    const data = [
                { 'id': "10/15/2016", 'first_name': 'Jesse', 'last_name': 'Simmons', 'date': "./../assets/approve.svg", 'gender': 'Male' },
                { 'id': "12/15/2016", 'first_name': 'John', 'last_name': 'Jacobs', 'date': '2016/12/15 06:00:53', 'gender': 'Male' },
                { 'id': "4/26/2016", 'first_name': 'Tina', 'last_name': 'Gilbert', 'date': '2016/04/26 06:26:28', 'gender': 'Female' },
                { 'id': "4/10/2016", 'first_name': 'Clarence', 'last_name': 'Flores', 'date': '2016/04/10 10:28:46', 'gender': 'Male' },
                { 'id': "12/6/2016", 'first_name': 'Anne', 'last_name': 'Lee', 'date': '2016/12/06 14:38:38', 'gender': 'Female' }
            ]
    return {
                data,
                isEmpty: false,
                isBordered: false,
                isStriped: false,
                isNarrowed: false,
                isHoverable: false,
                isFocusable: false,
                isLoading: false,
                hasMobileCards: true
            }
    
  }
};
</script>
<style scoped lang="scss">




.bb {
  display: flex;
  flex-direction: column;
  padding: 0px;
  position: relative;
  height: 405px;
  left: 0%;
  right: 0%;
  top: 0px;
}
</style>